<div class="alert alert-warning text-center" *ngIf="hasBeenReset">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    Sonnets have been reset back to their original values
</div>

<div class="alert alert-danger text-center" *ngIf="filteredSonnets.length === 0 && hasPerformedFirstSearch">
    <i class="fa fa-times-circle-o fa-times-right-adjustment" aria-hidden="true"></i>
    No Sonnets found countaining text '{{searchTerm}}'
</div>

<div class="alert alert-success text-center" *ngIf="filteredSonnets.length > 0">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    {{filteredSonnets.length}} sonnets found containing text '{{searchTerm}}'
</div>

<div *ngIf="filteredSonnets.length > 0">
    <h2 class="text-center">List of sonnets: </h2>
    <table class="table">
        <thead>
            <td>Number</td>
            <td>Lines</td>
            <td>
                Edit
                <ng-template #popTemplate>
                    <div class="text-center">
                        Click the edit button to edit any sonnet. Click below to reset to original
                        <button class="btn btn-danger"
                                (click)="resetToOriginalSonnets()">
                                Reset
                        </button>
                    </div>
                </ng-template>
                <i class="fa fa-info-circle" 
                   aria-hidden="true"
                   popoverTitle="Information"
                   [popover]="popTemplate"
                   [outsideClick]="true">
                </i>  
            </td>
        </thead>
        <tbody>
            <tr *ngFor="let sonnet of filteredSonnets">
                <td>{{sonnet.number}}</td>
                <td>
                    <div *ngIf="isEditing(sonnet.number)">
                        <div class="alert alert-warning text-center" *ngIf="filteredSonnets.length > 0">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Text edits are applied immediately. Changes can be reverted using the reset functionality
                        </div>
                        <span *ngFor="let line of sonnet.lines; let i = index; trackBy: sonnetTrackByFunction">
                            <input type="text"
                                   class="form-control"
                                   [(ngModel)]="sonnet.lines[i]"
                                   (ngModelChange)="sonnetService.assignToLocalStorage()">
                        </span>
                    </div>
                    <div *ngIf="!isEditing(sonnet.number)">
                        <div *ngFor="let line of sonnet.lines">
                            {{line}}
                        </div>
                    </div>
                </td>
                <td>
                    <button class="btn btn-default"
                        (click)="setToEditMode(sonnet.number)">
                        <span>{{getEditButtonTextFor(sonnet.number)}}</span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>