<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>

  <h2>List of sonnets: </h2>
  <table class="table">
    <thead>
    <td>Number</td>
    <td>Lines</td>
    </thead>
    <tbody>
      <tr *ngFor="let sonnet of sonnetService.sonnets">
        <td>{{sonnet.number}}</td>
        <td>
            <span *ngFor="let sonnetLine of sonnet.lines">
              {{sonnetLine}}
            </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
